#container {
    height: 500px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr repeat(5, 1fr);
}

#display {
    grid-area: 1 / 1 / 2 / 5;
}

#operand {
    grid-area: 2 / 1 / 3 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#numbers {
    grid-area: 3 / 1 / 7 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#equals {
    grid-area: 1 / 4 / 5 / 5 ;
}

#numbers,
#operand {
    justify-items: center;
    align-items: center;
}

