body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid; 
    height: 520px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: lightblue;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);  
  }

.display {
    grid-area: 1 / 1 / 2 / 5;
}

.span-4 {
    grid-column: 4 / 5;
    grid-row: 3 / span 4;
}